/* CSS VARIABLES */

:root {
  --fallback-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --primary-font: Lato, var(--fallback-font-stack);
  --accent-font: Montserrat, var(--primary-font), var(--fallback-font-stack);
  --code-font: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

  --base-color: #505050;
  --primary-color: #1ace65;
  --accent-color: #A1E234;
}

/* RESET */

 * {
  box-sizing: border-box;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* LAYOUT */

html, body {
  height: 100%;
}

html {
  overflow-x: hidden;
}

body {
  background: #fff;
}

/* TYPE */

body, td, textarea, input {
  font-family: var(--primary-font);
  font-weight: 400;
  line-height: 1.6;
  font-size: 16px;
  color: var(--base-color);
}

/* MEDIA & LISTS */

ol, ul {
  list-style: none;
}

/* LINKS & BUTTONS */

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: var(--accent-color);
}

.btn {
  display: inline-block;
  text-align: center;
  border: 3px solid currentColor;
  border-radius: 4px;
  margin-top: 10px;
  margin-right: 0.25rem;
  padding: 0.33em 1em;
  font-size: 1.2rem;
  min-width: 100px;
  color: var(--primary-color);
  font-family: var(--primary-font);
}

.btn:hover, .btn:active, .btn:focus {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn:active {
  transform: translateY(2px);
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.25);
}

/* CONTENT */
/* This applies to everything except the sidebar */

.content-root {
  min-height: 90%;
  position: relative;
}

.content > * {
  margin-left: 40px;
  margin-right: 40px;
}

.content:last-of-type {
  padding-bottom: 2em;
}

.content pre {
  font-family: var(--code-font);
}

.content ul, .content ol {
  margin-left: 40px;
}

.content ol > li {
  list-style-type: decimal;
}

.content ul > li {
  list-style-type: none;
  position: relative;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
      -ms-column-break-inside: avoid;
          column-break-inside: avoid;
  color: #808e90;
}

.content li a {
  font-weight: 700;
  font-size: 1rem;
  padding-top: 1rem;
  display: block;
}

.content strong, .content b {
  font-weight: bold;
}

.content i, .content em {
  font-style: italic;
  color: #9090aa;
}

.content code {
  font-family: var(--code-font);
  background: #f3f6fb;
  padding: 1px 3px;
  font-size: 0.95em;
}

.content pre > code {
  display: block;
  background: transparent;
  font-size: 0.85em;
}

.content blockquote:first-child {
  padding-top: 0;
}

.content blockquote:last-child {
  padding-bottom: 0;
}

.content blockquote {
  color: #9090aa;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.content h1, .content h2, .content h3, .content h4 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: var(--accent-font);
  font-weight: bold;
  padding-bottom: 0;
  line-height: 1.2;
}

.content h1 {
  font-size: 3em;
  padding: 80px 40px;
  margin: 1em 0 0 0;
  margin-right: 0;
  background-color: #204c52;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0.075em 0.075em 0.125em rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 0 500px 500px rgba(0, 0, 0, 0.6);
}

@media (max-width: 720px) {
  .content h1 {
    font-size: 2.5em;
  }
}

.content h2 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.content.intro h1 {
  margin-top: 0;
  margin-bottom: 1em;
  background-image: url(img/intro.jpg);
}

.content h1#design {
  background-image: url(img/design.jpg);
}

.content h1#dev {
  background-image: url(img/dev.jpg)
}

.content h1#business {
  background-image: url(img/business.jpg)
}

.content h1#about {
  background-image: url(img/about.jpg);
  margin-bottom: 2rem;
}

.content h2 {
  font-size: 2.25em;
  margin-bottom: 0.25rem;
}

.content h3 {
  font-size: 1.7em;
}

.content h2, .content h3 {
  padding-top: 40px;
}

.content h2 + h3 {
  margin-top: 0.5em;
}

.content h3, .content h4, .content h5 {
  border-bottom: solid 1px rgba(0, 0, 0, 0.07);
  color: #808e90;
  padding-top: 30px;
  padding-bottom: 10px;
}

.content h4 {
  color: #90aaa7;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 1.3em;
}

.content h5, .content h6 {
  font-weight: bold;
}

.content h5 {
  color: #91c3a6;
}

.content h6 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 0.8rem;
}

.content p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.content h2 + p, .content h3 + p, .content h4 + p, .content h5 + p {
  margin-top: 1.5rem;
}

.content ul + h2, .content ul + h3, .content ul + h4, .content ul + h5, .content ul + h6 {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .content h4, .content h5, .content .small-heading, body:not(.big-h3) .content h3 {
    padding-top: 20px;
  }
}

@media (max-width: 480px) {
  .content h4, .content h5, .content .small-heading, body:not(.big-h3) .content h3 {
    padding-top: 10px;
  }
}

.content pre > code {
  background: #f3f6fb;
  border: solid 1px #e7eaee;
  border-top: solid 1px #dbdde2;
  border-left: solid 1px #e2e5e9;
  display: block;
  padding: 10px;
  border-radius: 2px;
  overflow: auto;
}

.content pre > code {
  -webkit-overflow-scrolling: touch;
}

.content pre > code::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

.content pre > code::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 8px;
  border: solid 4px #f3f6fb;
}

.content pre > code:hover::-webkit-scrollbar-thumb {
  background: #999;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1180px) {
  .content pre > code {
    background: #f3f6fb;
    border: solid 1px #e7eaee;
    border-top: solid 1px #dbdde2;
    border-left: solid 1px #e2e5e9;
    display: block;
    padding: 10px;
    border-radius: 2px;
    overflow: auto;
  }

  .content pre > code {
    -webkit-overflow-scrolling: touch;
  }

  .content pre > code::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  .content pre > code::-webkit-scrollbar-thumb {
    background: #ddd;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: solid 4px #f3f6fb;
  }

  .content pre > code:hover::-webkit-scrollbar-thumb {
    background: #999;
    -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
  }
}

/* MENU LAYOUT */

.menubar {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.menubar .section {
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.menubar .section + .section {
  border-top: solid 1px #dfe2e7;
}

.menubar .section.no-line {
  border-top: 0;
  padding-top: 0;
}

@media (max-width: 480px) {
  .menubar {
    padding: 20px;
    border-bottom: solid 1px #dfe2e7;
  }
}

@media (max-width: 768px) {
  .menubar {
    display: none;
  }
}

@media (min-width: 768px) {
  .content-root {
    padding-left: 230px;
  }

  .menubar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 230px;
    border-right: solid 1px #dfe2e7;
  }

  .menubar.fixed {
    position: fixed;
    overflow-y: auto;
  }

  .menubar.fixed {
    -webkit-overflow-scrolling: touch;
  }

  .menubar.fixed::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  .menubar.fixed::-webkit-scrollbar-thumb {
    background: #ddd;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: solid 4px #fff;
  }

  .menubar.fixed:hover::-webkit-scrollbar-thumb {
    background: #999;
    -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 960px) {
  .content ul, .content ol {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 3;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
  }
}

/* MENU STYLING */

.menubar {
  font-size: 1em;
}

li#root-item {
  padding: 20px;
  background-color: #CFD8DC;
}

.menu ul.level-1 > li + li {
  margin-top: 20px;
}

.menu a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  padding-top: 1px;
  padding-bottom: 5px;
}

.menu a, .menu a:visited {
  color: #3B5867;
}

.menu a:hover {
  color: #000;
}

.menu a.level-1 {
  font-family: var(--accent-font);
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: bold;
}

.menu a.level-1, .menu a.level-1:visited {
  color: #78909C;
}

.menu a.level-1:hover {
  color: #fff;
}

.menu a.level-2 {
  font-weight: normal;
}

.menu a.level-3 {
  font-weight: normal;
  font-size: 0.9em;
  padding-left: 10px;
}

.menu a.active {
  font-weight: bold !important;
}

.menu a.active:hover {
  color: var(--primary-color) !important;
}

.menu a.active {
  z-index: 10;
}

.menu a.active:after {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: -2px;
  left: -20px;
  width: calc(100% + 30px);
  height: 100%;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #FFFFFF;
  z-index: -1;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),
              0 1px 2px rgba(0,0,0,0.24);
}
